<section class="for-search">
  <div class="wrap">
    <div class="search">
      <form #form="ngForm" [ngClass]="{submitted:isSubmit}">
        <input type="text" class="searchTerm" [(ngModel)]="valueSearch" name="search"
          placeholder="What are you searching for?" required>
        <button type="submit" class="searchButton" (click)="SearchProduct(form)">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</section>



<section class="for-result--search" style="position: relative;" *ngIf="showTableSearch">
  <button (click)="close()" *ngIf="showTableSearch" class="btn btn-danger"
    style=" position: absolute;z-index: 999;  top: -26px; right: 0;     padding: 0px;  width: 25px;  height: 25px;">
    X</button>

  <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
    [sortable]="true" [pageable]="true" [filterable]="true" [selectable]="false"
    (dataStateChange)="dataStateChange($event)" >

    <kendo-grid-command-column title=" " width="40">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" let-isNew="isNew">
          <button  class="btn btn-success"  (click)="onSelectedRowChange(dataItem)"
            style="  width: 25px;  padding: 0; margin-left: -5px;" >+</button>
        </ng-template>
      </kendo-grid-command-column>



    <!-- <kendo-grid-checkbox-column showSelectAll="true" width="40"></kendo-grid-checkbox-column> -->

<!-- <kendo-grid-checkbox-column>
                <ng-template kendoGridHeaderTemplate>
                    <input class="k-checkbox" id="selectAllCheckboxId" kendoGridSelectAllCheckbox
                        [state]="selectAllState"
                        (selectAllChange)="onSelectAllChange($event)">
                    <label class="k-checkbox-label" for="selectAllCheckboxId"></label>
                </ng-template>
            </kendo-grid-checkbox-column> -->

    <kendo-grid-column title="ID" width="40" [sortable]="true" [filterable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span>{{rowIndex+1}}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="name" title="product name" width="180" [filterable]="true">
    </kendo-grid-column>
    <kendo-grid-column field="hint" title="productDescription" width="180" [filterable]="false">
    </kendo-grid-column>
    <kendo-grid-column field="quantity" title="quantity" width="100" filter="date" format="{0:d}" [filterable]="false"
      [sortable]="true">
    </kendo-grid-column>
    <kendo-grid-column field="TradePricePicese" title="TradePricePicese" width="120" filter="numeric" format="{0:c}"
      [filterable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span>{{ dataItem.TradePricePicese}} LE</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="TradepriceTotal" title="total tradePrice" width="180" [filterable]="false"
      [style]="{'background-color': '#888','color': '#fff'}">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span>{{dataItem.quantity * dataItem.TradePricePicese}} LE</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="priceForPicese" title="price for pices" width="120" filter="numeric" format="{0:c}"
      [filterable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span>{{ dataItem.priceForPicese}} LE</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="priceTotal" title="total Pricecustom" [filterable]="false" width="100"
      [style]="{'background-color': '#888','color': '#fff'}">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span>{{dataItem.quantity * dataItem.priceForPicese}} LE</span>
      </ng-template>
    </kendo-grid-column>

  </kendo-grid>
  <div *ngIf="loading" class="k-i-loading"></div>
  <br>
  
</section>


<div style="position:relative; height: 80px; margin-bottom: 10px">
  <header class="header-reset">
    <div>
      <h5>Billing for product</h5>
    </div>
  </header>
</div>
<section class="for-reset--search" style="position: relative;display: block;height: 35pc;">

  <kendo-grid [data]="mySelection" [height]="410" (cellClick)="cellClickHandler($event)"
    (cellClose)="cellCloseHandler($event)" (remove)="removeHandler($event)" [navigable]="true">

    <kendo-grid-command-column title=" " width="40">
      <ng-template kendoGridCellTemplate let-dataItem let-isNew="isNew">
        <button class="btn btn-danger" (click)="removeHandler(dataItem)"
          style="  width: 25px;  padding: 0; margin-left: -5px;">x</button>
      </ng-template>
    </kendo-grid-command-column>

    <kendo-grid-column title="ID" width="40" [sortable]="true" [filterable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span>{{rowIndex+1}}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="name" title="product name" width="180" [filterable]="true">
    </kendo-grid-column>
    <kendo-grid-column field="hint" title="productDescription" width="180" [filterable]="false">
    </kendo-grid-column>
    <kendo-grid-column field="quantityForSale" title="quantityForSale" width="100" filter="date" format="{0:d}" [filterable]="false"
      [sortable]="true">
    </kendo-grid-column>
    
    <kendo-grid-column field="quantity" title="quantity" width="100" filter="date" format="{0:d}" [filterable]="false"
      [sortable]="true">
    </kendo-grid-column>


    <kendo-grid-column field="priceForPicese" title="price for pices" width="120" filter="numeric" format="{0:c}"
      [filterable]="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span>{{ dataItem.priceForPicese}} LE</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="priceTotal" title="total Pricecustom" [filterable]="false" width="100"
      [style]="{'background-color': '#888','color': '#fff'}">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span>{{calculatedPrice}} LE</span>
      </ng-template>
    </kendo-grid-column>

  </kendo-grid>
  <button class="btn btn-success" style=" float: right;margin-top: 20px;"  (click)="savebilling()" [disabled]="idisabled"> Save Billing </button>
</section>