<section class="for-search" >
    <div class="wrap">
        <div class="search">
           <input type="text" class="searchTerm" placeholder="What are you searching for?">
           <button type="submit" class="searchButton" (click)="SearchProduct()" >
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
</section>



<section class="for-result--search" style="    position: relative;" >
    <button  (click)="close()" *ngIf="showTableSearch" class="btn btn-danger"
     style=" position: absolute;z-index: 999;  top: -26px; right: 0;     padding: 0px;  width: 25px;  height: 25px;"> X</button>

    <kendo-grid [data]="" [height]="410" *ngIf="showTableSearch">
        <kendo-grid-column field="" title="ID" width="40">
        </kendo-grid-column>
        <kendo-grid-column field="" title="Name" width="250">
        </kendo-grid-column>
        <kendo-grid-column field="" title="Category">
        </kendo-grid-column>
        <kendo-grid-column field="" title="Price" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="" title="In stock" width="80">
        </kendo-grid-column>
        </kendo-grid>
</section>


<div style="position:relative; height: 120px; margin-bottom: 20px">
<header class="header-reset" >
  <div> <h5>Billing for product</h5></div>
</header>
</div>
<section class="for-reset--search" >
    <kendo-grid [data]="" [height]="410">
        <kendo-grid-column field="" title="ID" width="40">
        </kendo-grid-column>
        <kendo-grid-column field="" title="Name" width="250">
        </kendo-grid-column>
        <kendo-grid-column field="" title="Category">
        </kendo-grid-column>
        <kendo-grid-column field="" title="Price" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="" title="In stock" width="80">
        </kendo-grid-column>
        </kendo-grid>
        <button class="btn btn-defualt">  Save Billing </button>
</section>